<div class="view">

    <h3>Hello, usr. Task #2</h3>
    <p style="font-size:small">add notes, assign unique tags</p>
    <div style="min-height:200px; ">

        <div al-note='true' ng-repeat="note in notes" note='note' available-tags='availableTags'/>
        
        <button type="button"  ng-click="addNote()" >Add note</button>
    </div>

    <div>
      <label for>Global autocomplete:</label><input type="text" ng-model="acVal" al-autocomplete ac-source="availableTags"/>
      <div style="color:silver"> Available tags:
        <ul>
            <li ng-repeat="gtag in availableTags">{{gtag}}</li>
        </ul>
    </div>

    <div style="border: 0 1px 0 0 solid silver;">
        <h3>Test tagReducer. Task #3</h3>
        <p style="font-size:small">tag filter </p>
        <input ng-model="reducerSrc"></input>
        <p>w/o limit: {{ reducerSrc.split(',') | reducer}}</p>
        <p>with limit of 2 records: {{ reducerSrc.split(',') | reducer:2}}</p>
            <!-- <a href="" ng-click="addTagToAutocompletes()">Test autocomplete source watch (see browser logs)</a> -->
        </div>
    </div>
    <h3>Task #4</h3>
    <a href="" ng-click="gotoSecondPage()" >Test routing</a>

</div>