<div class="view">

	<pre>
		Прошли часы. Приходил человек
		С оловянной бляхой на теплой шапке.
		Стучал и дожидался у двери человек.
		Никто не открыл. Играли в прятки.
	</pre>

	<a href="" ng-click="gotoIndex()">To main page</a>

</div>