<head/><md-dialog aria-label="">

  <md-content>
    <md-subheader class="md-primary">Add new mentie</md-subheader>
    <form class="row">
    <input type="email" ng-model="email" placeholder="Some_One@epam.com"></md-text-float>
    </form>
  </md-content>

  <div class="md-actions">
    <span flex></span>
    <md-button ng-click="answer()" class="md-primary">
      Add
    </md-button>
  </div>

</md-dialog>

