<!DOCTYPE html>
<html ng-app="contactapp">
<head>
    <title>Schmetterlinge Perfektion</title>
    <meta http-equiv="Content-Encoding" charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <!-- endbower -->
    <script src="scripts/directives.js"></script>
    <script src="scripts/NotesControllers.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/filters.js"></script>
    <script src="scripts/app.js"></script>
    <!-- Usemin block -->

    <link rel="stylesheet" href="css/mint-choc/jquery-ui-1.10.4.custom.min.css"/>

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="bower_components/angular-material/themes/default-theme.css"> -->
    <link rel="stylesheet" href="bower_components/angular-material/themes/light-blue-dark-theme.css"/>
    <!-- <link rel="stylesheet" href="bower_components/angular-material/themes/green-theme.css"/> -->

</head>
<body>


      
    <div ng-controller="MentoCtrl" class="sample">
        <div class="md-toolbar-tools">
            <md-subheader class="md-primary">Mento Monitor</md-subheader>
            <a class="fa fa-cog" style="float:right; font-size: 2em;" ng-click="dialogAdvanced(e)"></a>
        </div>
        <!-- <md-content md-theme="light-blue-dark"> -->
     <md-tabs selected="selectedIndex">
        <md-tab ng-repeat="tab in tabs" on-select="onTabSelected(tab)" on-deselect="announceDeselected(tab)" ng-disabled="tab.disabled" label="{{tab.title}}">
        <md-content>
            <div ng-if="selectedIndex == 0" ng-class="tab.style" layout="vertical" layout-fill layout-align="left center">
                <table style="margin:1em;">
                    <tr>
                        <td/>
                        <td>
                            <mnt-time-bar/>
                        </td>
                    </tr>
                    <tr ng-repeat="person in testData">
                        <td>
                             <md-item-content>
                              <div class="md-tile-left">
                                  <img ng-src="{{person.photoUrl}}" class="face" alt="{{person.name}}" 
                                  style="border-radius: 50px" height="64px">
                              </div>
                              <div class="md-tile-content">
                                <h3>{{person.name}}</h3>
                                <h4>{{person.primarySkill}}</h4>
                                <p>
                                  {{person.notes}}
                                </p>
                              </div>
                            </md-item-content>
                       <!--  <img style="border-radius: 50px" height="64px" ng-src="{{person.photoUrl}}">
                        <span style="line-height: 64px">{{person.name}}</span> -->
                         </td>
                    <td>
                        <mnt-schedule-graph index="{{$index}}">
                        </mnt-schedule-graph>
                    </td>
                    </tr>
                </table>
            </div>       
            <div ng-if="selectedIndex == 1" ng-class="tab.style" layout="vertical" layout-fill layout-align="left center">             

            <md-list>

              <md-item ng-repeat="mentor in mentors">
                <md-item-content style="margin:1em;">
                  <div class="md-tile-left">
                      <img ng-src="{{mentor.face}}" class="face" alt="{{mentor.who}}">
                  </div>
                  <div class="md-tile-content">
                    <h3>{{mentor.what}}</h3>
                    <h4>{{mentor.who}}</h4>
                    <p>
                      {{mentor.notes}}
                    </p>
                  </div>
                </md-item-content>
              </md-item>

            </md-list>
            <md-button class="md-primary">
                More
            </md-button>
            </div>
            <div ng-if="selectedIndex == 2" ng-class="tab.style" layout="vertical" layout-fill layout-align="left center">
                            <md-list>

              <md-item ng-repeat="mentor in courses">
                <md-item-content style="margin:1em;">
                  <div class="md-tile-left">
                      <img ng-src="{{mentor.face}}" height="128px" class="face" alt="{{mentor.who}}">
                  </div>
                  <div class="md-tile-content" style="margin-left:1em;">
                    <h3>{{mentor.who}}</h3>
                    <h4>{{mentor.what}}</h4>
                    <p>
                      {{mentor.notes}}
                    </p>
                  </div>
                </md-item-content>
              </md-item>

            </md-list>
            <md-button class="md-primary" ng-click="addKitten()">
                More
            </md-button>
            </div>
        </md-content>     
        </md-tab>


    </md-tabs>
</div>
</body>
</html>
