<div ng-click='switch(true)'>
    <textarea rows='4' cols='60' ng-show='editing' ng-model='userInput' ng-blur='switch(false)'/>
    <div class="ro-text" style='min-height:2em;' ng-hide='editing' ng-bind='userInput'/>
</div>