<div class="al-note">
    <div class="al-note-text" al-editable-span="true" editing='false' editable-value="note.text"></div>
    
    <div class="al-note-tag-container">
    	<div class="label">tags:</div>
        <div ng-repeat="tag in note.tags track by $index">
        <div class="al-note-tag"
             al-note-tag='true' tag="tag" index="$index" editable='{{$index == activeTagIndex}}' available-tags="availableTags">
        </div>
        </div>
        <div class='al-note-add-tag' ng-click="addTag()">+</div>
        <div style="clear:both"/>
    </div>
</div>